{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

	<h1>{{ post.title }}</h1>
	<small>{{ post.category }} | 
		By: 
		{{ post.author.first_name }} 
		{{ post.author.last_name }} - 
		{{ post.post_date }}

		{% if user.is_authenticated %}
			{% if user.id == post.author.id %}
				- <a href = "{% url 'update_post' post.pk %}">(edit)</a> 

				<a href = "{% url 'delete_post' post.pk %}">(delete)</a>
			{% endif %}
		{% endif %}

	</small> <br/>
	<hr>
	<br/>

	{% if post.header_image %}
		<img src = "{{ post.header_image.url }}">
		<br/><br/>
	{% endif %}

	{{ post.body | safe }}
	<br/><br/>

<div class="card border-white mb-3" style="max-width: 620px;">
  <div class="row g-0">
    <div class="col-md-4">

		{% if post.author.profile.profile_pic %}
      		<img src="{{ post.author.profile.profile_pic.url }}" width = 150 height = 150 class = "rounded-circle">

  		{% else %}
  			<img src="{% static 'myblog/images/default.png' %}" width = 150 height = 150 class = "rounded-circle">

  		{% endif %}

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
        	{{ post.author.first_name }}
        </h5>
        <p class="small text-muted">

        	<a href = "{% url 'show_profile_page' post.author.profile.id %}">Profile</a>

        	{% if post.author.profile.polarsteps_url %}
        		| <a href = "{{ post.author.profile.polarsteps_url }}">Polarsteps</a> 
    		{% endif %}

        	{% if post.author.profile.instagram_url %}
        		| <a href = "{{ post.author.profile.instagram_url }}">Instagram</a> 
    		{% endif %}

    		{% if post.author.profile.facebook_url %}
        		| <a href = "{{ post.author.profile.facebook_url }}">Facebook</a> 
    		{% endif %}

    		{% if post.author.profile.linkedin_url %}
        		| <a href = "{{ post.author.profile.linkedin_url }}">LinkedIn</a>
        	{% endif %}

        </p>
        <p class="card-text">
        	{{ post.author.profile.bio }}
        </p>
      </div>
    </div>
  </div>
</div>


	<br/><br/>
	<a href = "{% url 'home' %}" class = "btn btn-secondary">Back</a>

	<br/><br/>
	<hr>
	<br/>

	<form action = "{% url 'like_post' post.pk %}" method = "POST">
		{% csrf_token %}

	{{ total_likes }} Likes

	<br/><br/>

	{% if user.is_authenticated %}

		{% if liked %}
			<button type = "submit", name = "post_id", value = "{{ post.id }}", class = "btn btn-danger btn-sm">Unlike</button> 
		{% else %}
			<button type = "submit", name = "post_id", value = "{{ post.id }}", class = "btn btn-primary btn-sm">Like</button>
		{% endif %}

	<br/><br/>

	{% else %}
		<div class="alert alert-danger" role="alert"><a class="nav-link" href="{% url 'login' %}">Login to like</a></div>

	{% endif %}


	</form>


<hr>
<h2>Comments</h2>
<br/>

{% if not post.comments.all %}
	No comments yet...<br/><br/>

	{% if user.is_authenticated %}
		<a href = "{% url 'add_comment' post.pk %}"><button type="button" class="btn btn-outline-primary">Add Comment</button></a>

	{% else %}
		<div class="alert alert-danger" role="alert"><a class="nav-link" href="{% url 'login' %}">Login to comment</a></div>

	{% endif %}


{% else %}
	
	
		{% for comment in post.comments.all %}
			<strong>
				{{ comment.your_name }} - {{ comment.date_added }}
			</strong>
			<br/>
			{{ comment.body }}
			<br/><br/>

		{% endfor %}

	{% if user.is_authenticated %}
		<a href = "{% url 'add_comment' post.pk %}"><button type="button" class="btn btn-outline-primary">Add Comment</button></a>
		<br/><br/>

	{% else %}
		<div class="alert alert-danger" role="alert"><a class="nav-link" href="{% url 'login' %}">Login to comment</a></div>

	{% endif %}

{% endif %}



<hr>
<br/>




{% endblock %}